/* michaelmccosh.com  */

.bio-image {
  float: left;
  height: 200px;
  margin-right: 20px;
}

.container {
  border: 1px solid midnightblue;
}

.aboutme {
  background-color: lightpink;
}

.resume {
  background-color: bisque;
}

.skills {
  background-color: skyblue;
}