/* michaelmccosh.com  */

.bio-image {
  float: left;
  height: 200px;
  margin-right: 20px;
}

.container {
  border: 1px solid midnightblue;
}

.aboutme .container {
  background-color: lightpink;
}

.resume .container {
  background-color: bisque;
  text-align: center;
}

.skills .container {
  background-color: skyblue;
}