/* michaelmccosh.com  */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: url("./m3-graywall1.bmp");
  background-repeat: repeat;
}

.bio-image {
  float: left;
  height: 150px;
  margin-right: 20px;
}

.container {
  margin-top: 20px;
}

.aboutme .container {
  background-color: bisque;
  border: 2px solid midnightblue;
  border-radius: 10px;
  font-size: 1.3rem;
}

.contact .container {
  background-color: palegreen;
  border: 2px solid midnightblue;
  border-radius: 10px;
}

.skills .container {
  background-color: skyblue;
  border: 2px solid midnightblue;
  border-radius: 10px;
  font-size: 1.3rem;
}

hr {
  border-style: solid;
  border-width: 1px;
  border-color: midnightblue;
}

.navbar-brand {
  padding: 20px;
  /* margin-left: -20px; */
  font-size: 36px;
  background: rgb(29, 136, 224);
  color: white;
}
.nav-tabs {
  font-size: 24px;
  display: flex;
  flex-direction: row;
}
a.active {
  background-color: rgb(29, 136, 224) !important;
  color: white !important;
}

.card {
  margin-bottom: 60px;
}

.repotag {
  margin-top: 1em;
  margin-bottom: 0
}

.resourceLinks {
  margin-top: 20px;
  text-align: center;
  /* display: block; */
  /* justify-content: center; */
  /* margin-left: auto; */
  /* padding-inline-end: 40px; */
  /* background-color: blue; */
  font-size: 2rem;
}
/* .contact {
} */
.resource-text {
  background: rgb(29, 136, 224);
  color: white;
}

.title {
  /* padding-left: 2rem; */
  text-align: center;
  padding: 1rem;
  background: rgb(29, 136, 224);
  color: white;
}
